@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?tc6di8');
    src:  url('/fonts/icomoon.eot?tc6di8#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?tc6di8') format('truetype'),
    url('/fonts/icomoon.woff?tc6di8') format('woff'),
    url('/fonts/icomoon.svg?tc6di8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
    content: "\e900";
}
.icon-error_outline:before {
    content: "\e929";
}
.icon-warning:before {
    content: "\e97b";
}
.icon-equalizer:before {
    content: "\e97c";
}
.icon-loop:before {
    content: "\e901";
}
.icon-mic:before {
    content: "\e902";
}
.icon-new_releases:before {
    content: "\e903";
}
.icon-not_interested:before {
    content: "\e904";
}
.icon-play_arrow:before {
    content: "\e905";
}
.icon-replay:before {
    content: "\e906";
}
.icon-stop:before {
    content: "\e907";
}
.icon-call:before {
    content: "\e908";
}
.icon-location_on:before {
    content: "\e909";
}
.icon-chat_bubble_outline:before {
    content: "\e90a";
}
.icon-vpn_key:before {
    content: "\e90b";
}
.icon-mail_outline:before {
    content: "\e90c";
}
.icon-rss_feed:before {
    content: "\e945";
}
.icon-alternate_email:before {
    content: "\e97d";
}
.icon-sentiment_satisfied_alt:before {
    content: "\e97e";
}
.icon-add:before {
    content: "\e90d";
}
.icon-block:before {
    content: "\e90e";
}
.icon-clear:before {
    content: "\e90f";
}
.icon-drafts:before {
    content: "\e910";
}
.icon-forward:before {
    content: "\e911";
}
.icon-redo:before {
    content: "\e912";
}
.icon-report:before {
    content: "\e913";
}
.icon-undo:before {
    content: "\e914";
}
.icon-save_alt:before {
    content: "\e946";
}
.icon-access_time:before {
    content: "\e915";
}
.icon-storage:before {
    content: "\e916";
}
.icon-signal_cellular_alt:before {
    content: "\e917";
}
.icon-format_quote:before {
    content: "\e97f";
}
.icon-insert_emoticon:before {
    content: "\e980";
}
.icon-bar_chart:before {
    content: "\e918";
}
.icon-cloud:before {
    content: "\e919";
}
.icon-cloud_done:before {
    content: "\e91a";
}
.icon-cloud_download:before {
    content: "\e91b";
}
.icon-cloud_off:before {
    content: "\e91c";
}
.icon-cloud_queue:before {
    content: "\e91d";
}
.icon-cloud_upload:before {
    content: "\e91e";
}
.icon-file_download:before {
    content: "\e91f";
}
.icon-file_upload:before {
    content: "\e920";
}
.icon-computer:before {
    content: "\e921";
}
.icon-desktop_windows:before {
    content: "\e922";
}
.icon-headset:before {
    content: "\e981";
}
.icon-keyboard_arrow_down:before {
    content: "\e923";
}
.icon-keyboard_arrow_left:before {
    content: "\e924";
}
.icon-keyboard_arrow_right:before {
    content: "\e925";
}
.icon-keyboard_arrow_up:before {
    content: "\e926";
}
.icon-phone_iphone:before {
    content: "\e927";
}
.icon-security:before {
    content: "\e982";
}
.icon-tablet_android:before {
    content: "\e928";
}
.icon-navigate_before:before {
    content: "\e984";
}
.icon-navigate_next:before {
    content: "\e985";
}
.icon-tune:before {
    content: "\e92a";
}
.icon-wb_sunny:before {
    content: "\e92b";
}
.icon-directions_bike:before {
    content: "\e92c";
}
.icon-directions_bus:before {
    content: "\e92d";
}
.icon-directions_car:before {
    content: "\e92e";
}
.icon-directions_ferry:before {
    content: "\e92f";
}
.icon-directions_subway:before {
    content: "\e930";
}
.icon-directions_railway:before {
    content: "\e931";
}
.icon-local_bar:before {
    content: "\e986";
}
.icon-local_grocery_store:before {
    content: "\e987";
}
.icon-local_parking:before {
    content: "\e932";
}
.icon-local_pizza:before {
    content: "\e933";
}
.icon-local_print_shop:before {
    content: "\e934";
}
.icon-local_restaurant:before {
    content: "\e935";
}
.icon-map:before {
    content: "\e936";
}
.icon-navigation:before {
    content: "\e988";
}
.icon-near_me:before {
    content: "\e937";
}
.icon-person_pin_circle:before {
    content: "\e989";
}
.icon-check:before {
    content: "\e98a";
}
.icon-expand_less:before {
    content: "\e98b";
}
.icon-expand_more:before {
    content: "\e98c";
}
.icon-menu:before {
    content: "\e98d";
}
.icon-keyboard_control:before {
    content: "\e98e";
}
.icon-refresh:before {
    content: "\e938";
}
.icon-arrow_left:before {
    content: "\e98f";
}
.icon-arrow_right:before {
    content: "\e990";
}
.icon-arrow_back_ios:before {
    content: "\e991";
}
.icon-arrow_forward_ios:before {
    content: "\e992";
}
.icon-do_not_disturb_alt:before {
    content: "\e947";
}
.icon-drive_eta:before {
    content: "\e961";
}
.icon-wc:before {
    content: "\e993";
}
.icon-wifi:before {
    content: "\e939";
}
.icon-priority_high:before {
    content: "\e994";
}
.icon-mood_bad:before {
    content: "\e93a";
}
.icon-notifications:before {
    content: "\e962";
}
.icon-notifications_none:before {
    content: "\e963";
}
.icon-notifications_off:before {
    content: "\e964";
}
.icon-notifications_active:before {
    content: "\e965";
}
.icon-person:before {
    content: "\e93b";
}
.icon-person_add:before {
    content: "\e93c";
}
.icon-person_outline:before {
    content: "\e995";
}
.icon-plus_one:before {
    content: "\e93d";
}
.icon-public:before {
    content: "\e93e";
}
.icon-school:before {
    content: "\e966";
}
.icon-share:before {
    content: "\e93f";
}
.icon-whatshot:before {
    content: "\e967";
}
.icon-sentiment_dissatisfied:before {
    content: "\e940";
}
.icon-sentiment_neutral:before {
    content: "\e941";
}
.icon-sentiment_satisfied:before {
    content: "\e942";
}
.icon-sentiment_very_dissatisfied:before {
    content: "\e943";
}
.icon-sentiment_very_satisfied:before {
    content: "\e944";
}
.icon-check_box:before {
    content: "\e979";
}
.icon-check_box_outline_blank:before {
    content: "\e978";
}
.icon-radio_button_checked:before {
    content: "\e97a";
}
.icon-star:before {
    content: "\e948";
}
.icon-star_half:before {
    content: "\e949";
}
.icon-star_outline:before {
    content: "\e94a";
}
.icon-account_balance:before {
    content: "\e996";
}
.icon-account_box:before {
    content: "\e94b";
}
.icon-account_circle:before {
    content: "\e94c";
}
.icon-bug_report:before {
    content: "\e94d";
}
.icon-build:before {
    content: "\e94e";
}
.icon-code:before {
    content: "\e94f";
}
.icon-credit_card:before {
    content: "\e950";
}
.icon-delete:before {
    content: "\e951";
}
.icon-done:before {
    content: "\e952";
}
.icon-done_all:before {
    content: "\e968";
}
.icon-exit_to_app:before {
    content: "\e953";
}
.icon-favorite:before {
    content: "\e954";
}
.icon-favorite_outline:before {
    content: "\e955";
}
.icon-home:before {
    content: "\e956";
}
.icon-hourglass_empty:before {
    content: "\e957";
}
.icon-hourglass_full:before {
    content: "\e997";
}
.icon-info:before {
    content: "\e958";
}
.icon-info_outline:before {
    content: "\e959";
}
.icon-language:before {
    content: "\e969";
}
.icon-lock_open:before {
    content: "\e96a";
}
.icon-lock_outline:before {
    content: "\e96b";
}
.icon-power_settings_new:before {
    content: "\e95a";
}
.icon-search:before {
    content: "\e96c";
}
.icon-settings:before {
    content: "\e95b";
}
.icon-settings_ethernet:before {
    content: "\e998";
}
.icon-verified_user:before {
    content: "\e96d";
}
.icon-help_outline:before {
    content: "\e96e";
}
.icon-zoom_in:before {
    content: "\e96f";
}
.icon-zoom_out:before {
    content: "\e970";
}
.icon-http:before {
    content: "\e971";
}
.icon-gif:before {
    content: "\e972";
}
.icon-fingerprint:before {
    content: "\e95c";
}
.icon-pets:before {
    content: "\e999";
}
.icon-check_circle_outline:before {
    content: "\e973";
}
.icon-delete_outline:before {
    content: "\e974";
}
.icon-done_outline:before {
    content: "\e975";
}
.icon-circle_notifications:before {
    content: "\e976";
}
.icon-logout:before {
    content: "\e95d";
}
.icon-shield:before {
    content: "\e977";
}
.icon-tag:before {
    content: "\e99a";
}
.icon-sports_motorsports:before {
    content: "\e99b";
}
.icon-sports_handball:before {
    content: "\e95e";
}
.icon-liquor:before {
    content: "\e99c";
}
.icon-smoke_free:before {
    content: "\e95f";
}
.icon-smoking_rooms:before {
    content: "\e960";
}