:root {
    --background-color: #252525;
    --background-color-light: #303030;
    --background-color-lighter: #353535;
    --font-headline: "Economica", sans-serif;
    --font-regular: "Barlow", sans-serif;
    --font-code: "Inconsolata", sans-serif;
    --font-color-dark: #808080;
    --font-color-regular: #BEBEBE;
    --font-color-light: #DADADA;
    --font-color-white: #FEFEFE;
    --font-color-accent-1: #53AA78;
    --font-color--accent-2: #C79F31;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: var(--font-regular);
    color: var(--font-color-regular);
    background-color: var(--background-color);
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-weight: 700;
    font-family: var(--font-headline);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.1rem;
}

hr {
    border: none;
    margin: 20px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #303030;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--background-color-light);
}

article {
    margin: 40px 0;
    line-height: 1.7rem;
}

article .date {
    font-size: 0.7rem;
}

article .teaser {
    font-style: italic;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(10deg, #252525, #202020);
    margin: 30px 0;
}

article h1 {
    font-size: 2.5rem;
    color: var(--font-color--accent-2);
    padding: 0;
    margin: 0;
}

footer {
    padding: 20px;
    width: 100%;
    color: inherit;
    display: flex;
    box-sizing: border-box;
    background-color: var(--background-color-light);
}

footer a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--font-color-dark);
}

footer a:hover {
    color: var(--font-color-white);
}

code {
    font-family: var(--font-code);
    font-size: 0.9rem;
}

#app {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
}

#logo {
    height: 100%;
    display: flex;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 300;
    flex-basis: 160px;
    align-items: center;
    justify-content: center;
    color: var(--font-color-dark);
    font-family: var(--font-headline);
    background-color: var(--background-color-lighter);
}

#logo a {
    color: inherit;
    text-decoration: none;
}

#logo a span {
    font-size: 1.5rem;
}

#menu {
    height: 100%;
    display: flex;
    margin-left: auto;
}

#menu a {
    height: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    transition: color 0.3s;
    color: var(--font-color-dark);
}

#menu a:hover {
    color: var(--font-color-white);
    background-color: var(--background-color-lighter);
}

.stage {
    width: 100%;
    margin: 20px 0 0;
    min-height: 300px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-color-light);
}

.stage .text {
    top: 50%;
    left: 20px;
    position: absolute;
    transform: translateY(-50%);
}

.grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid.vertical {
    flex-flow: column;
}

.box {
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    margin: 20px 20px 20px 0;
    transition: background-color 0.3s;
    background-color: var(--background-color-light);
}

.box:last-child {
    margin-right: 0;
}

.stage h1,
.box h3 {
    margin: 0;
    color: #c79f31;
    font-size: 1.8rem;
    padding: 10px 0 0;
}

.stage h1 {
    font-size: 2.5rem;
}

.stage .teaser {
    display: inline-block;
    padding: 10px 0;
    box-sizing: border-box;
}

.box:hover {
    cursor: pointer;
    background-color: var(--background-color-lighter);
}

.box .date,
.stage .date {
    font-size: 0.7rem;
    color: var(--font-color-dark);
}

#login {
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
    background-color: #202020;
    padding: 20px;
    box-sizing: border-box;
}

#login h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

form button,
form input,
form select,
form textarea {
    width: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    box-sizing: border-box;
    color: var(--font-color-white);
    margin: 10px 0;
    border: none;
    font-size: 0.8rem;
    color-interpolation: auto;
}

/*form input::selection {*/
/*    background-color: #FFF;*/
/*    color: #000;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    opacity: 1;*/
/*}*/

button {
    width: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    box-sizing: border-box;
    color: var(--font-color-white);
    margin: 10px 0;
    border: none;
    color-interpolation: auto;
    cursor: pointer;
    background-color: #487a4a;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.7rem;
}

form button {
    cursor: pointer;
    background-color: #487a4a;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.7rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

table th {
    padding: 20px;
    border: 1px solid #151515;
}

table td {
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #151515;
}

table .options {
    display: flex;
    justify-content: flex-end;
}

table .options .icon {
    padding: 8px;
    transition: transform 0.3s;
}

table .options .icon:hover {
    color: #53aa78;
    transition: transform 0.1s;
    transform: scale(1.3);
}

a {
    color: inherit;
    text-decoration: none;
}

.ribbon {
    padding: 15px 20px;
    background-color: #202020;
    position: relative;
    font-size: 0.8rem;
    transition: background-color 0.3s;
}

.ribbon:before {
    content: '';
    background-color: #151515;
    position: absolute;
    height: 100%;
    width: 50px;
    top: 0;
    left: -50px;
}

.ribbon:after {
    position: absolute;
    left: -31px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'icomoon', sans-serif;
    font-size: 0.8rem;
    transition: color 0.3s;
}

.ribbon.add:after {
    content: '\ea0a';
}

.ribbon:hover {
    background-color: #151515;
}

.ribbon:hover:before {
    background-color: #202020;
}

.ribbon:hover:after {
    color: #53aa78;
}